html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'AppleSEGoathicNeoM', sans-serif;
}

@font-face {
  font-family: 'AppleSDGothicNeoM';
  src: url('./assets/fonts/AppleSDGothicNeoM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}