body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'AppleSEGoathicNeoM', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'AppleSDGothicNeoM';
  src: url('./assets/fonts/AppleSDGothicNeoM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSDGothicNeoH';
  src: url('./assets/fonts/AppleSDGothicNeoH.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AppleSDGothicNeoB';
  src: url('./assets/fonts/AppleSDGothicNeoB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AppleSDGothicNeoEB';
  src: url('./assets/fonts/AppleSDGothicNeoEB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AppleSDGothicNeoSB';
  src: url('./assets/fonts/AppleSDGothicNeoSB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AppleSDGothicNeoL';
  src: url('./assets/fonts/AppleSDGothicNeoL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AppleSDGothicNeoT';
  src: url('./assets/fonts/AppleSDGothicNeoT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AppleSDGothicNeoH';
  src: url('./assets/fonts/AppleSDGothicNeoH.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
